{% extends 'base.html' %}
{% load static %}

{% block upload_buttons %}

{% endblock %}


{% block content %}

    <div class="main_content_iner overly_inner">
        <div class="container-fluid p-0">
            <div class="row">
                <div class="col-lg-12">
                    <div class="white_card card_height_100 mb_30">
                        <div class="white_card_header">
                            <div class="white_box_tittle list_header mb-0">
                                <h4>Arxiv</h4>
                                <div class="box_right d-flex lms_block">
                                    <div class="serach_field_2">
                                        <div class="search_inner">
                                            <form Active="#">
                                                <div class="search_field">
                                                    <input type="search" name="search"
                                                           placeholder="Search content here..."/>
                                                </div>
                                                <button type="submit"><i class="ti-search"></i></button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="white_card_body">
                            <div class="QA_section">
                                <div class="QA_table mb_30">
                                    <table class="table lms_table_active3">
                                        <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Manzil</th>
                                            <th scope="col">F.I.Sh</th>
                                            <th scope="col">Jo'natuvchi</th>
                                            <th scope="col">Status</th>
                                            <th scope="col"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for letter in letters %}
                                            <tr>
                                                <td>
                                                    <div class="trade d-flex align-items-center">
                                                        <span class="ms-3">{{ letter.id }}</span>
                                                    </div>
                                                </td>
                                                <td>{{ letter.address }}</td>
                                                <td>{{ letter.name }}</td>
                                                <td>{{ letter.upload_zip_file.organization.name }}</td>
                                                <td>
                                                    <a href="#" class="status_btn archived_btn">{{ letter.status }}</a>
                                                </td>
                                                <td>
                                                    <i class="fas fa-eye" data-bs-toggle="modal"
                                                       data-bs-target="#grid_modal{{ letter.id }}"></i>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for letter in letters %}
        <div class="modal fade" id="grid_modal{{ letter.id }}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalCenterTitle"
             aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" id="screen_body">
                    <div class="modal-header">
                        <h5 class="modal-title text-center status_btn archived_btn fs-6" id="exampleModalLongTitle">
                            {{ letter.status }}</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid" id="screenshot-container">
                            <div class="row align-items-center">
                                <img class="col" src="
                                        {% if not letter.image %}{% static 'favicon/triumf_express.jpg' %}{% else %}{{ letter.image.url }}{% endif %}"
                                     alt="">
                            </div>
                            <div class="row justify-content-around mt-2 mb-4">
                                <div class="col"><i class="ti-time"
                                                    style="padding-right: 5px;"></i>{{ letter.created_at.time }}</div>
                                <div class="col text-end"><i class="ti-calendar"
                                                             style="padding-right: 5px;"></i>{{ letter.created_at.date }}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">
                                    <p><i class="ti-location-pin me-2"></i>{{ letter.address }}
                                    </p>
                                    <p><i class="ti-user me-2"></i>{{ letter.name }}</p>
                                    <p>
                                        <i class="fas fa-building  me-2"></i>{{ letter.upload_zip_file.organization.name }}
                                    </p>
                                    <p><i class="ti-car  me-2"></i>{% if not letter.courier %}
                                        Kuryer{% else %}{{ letter.courier }}{% endif %}</p>
                                    <p><i class="ti-clip  me-2"></i>№ {{ letter.id }}</p>
                                    <p><i class="ti-comment-alt me-2"></i>Sabab:
                                        {% if not letter.reason %}{% else %}{{ letter.reason }}{% endif %}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="screen">ScreenShot</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    <div class="modal fade" id="grid_modal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content" id="screen_body">
                <form method="post">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title text-center fs-6" id="">Ro’yxat yaratish</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row align-items-center">
                                <div class="" id="page" role="tabpanel" aria-labelledby="page-tab">
                                    <div class="builder_select">
                                        <div class="d-block">
                                            <div class="col">
                                                <label class="form-label m-4 text-center" for="#">Ro’yxatni
                                                    qo’shganingizdan
                                                    keyin
                                                    ro’yxatlar qatorida ko’rinishi uchun belgilangan to’lovni amalga
                                                    oshirishingiz kerak bo’ladi</label>
                                                <div class="common_select">
                                                    <select class="nice_Select wide mb_30 w-100">
                                                        {% for district in districts %}
                                                            <option name="district_id"
                                                                    value="{{ district.id }}">{{ district.address }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col">
                                                <div class=" mb-0">
                                                    <input type="file" name="excel_file" class
                                                           id="exampleFormControlFile1"
                                                           placeholder="XLSX fayl yuklash">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Saqlash</button>
                        <!-- Agar saqlandi degan habar kelsa oyna yopilishi kerak -->
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="grid_modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col">
                                <div class="white_card card_height_100 mb_30">
                                    <div class="white_card_header">
                                        <div class="box_header m-0">
                                            <div class="main-title">
                                                <h3 class="m-0">Custom file input</h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="white_card_body">
                                        <h6 class="card-subtitle mb-2">List of Custom file input.</h6>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text">
                                                <span class id="basic-addon3">Address</span>
                                            </div>
                                            <input type="text" class="form-control" id="basic-url"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3">
                                            <div class="input-group-text">
                                                <span class id="basic-addon3">Full name</span>
                                            </div>
                                            <input type="text" class="form-control" id="basic-url"
                                                   aria-describedby="basic-addon3">
                                        </div>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" id="inputGroupFile02">
                                            <label class="input-group-text" for="inputGroupFile02">Upload</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
